/*__WOD5E_ORDER_00655__*/
.wod5e .grid,
.wod5e .grid-2col {
  display: grid;
  grid-column: span 2 / span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 0;
  padding: 0;
}

/*__WOD5E_ORDER_00656__*/
.wod5e .grid-3col {
  grid-column: span 3 / span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

/*__WOD5E_ORDER_00657__*/
.wod5e .grid-4col {
  grid-column: span 4 / span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

/*__WOD5E_ORDER_00658__*/
.wod5e .grid-5col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

/*__WOD5E_ORDER_00660__*/
.wod5e .flex-group-center,
.wod5e .flex-group-left,
.wod5e .flex-group-right {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px;
}

/*__WOD5E_ORDER_00661__*/
.wod5e .flex-group-left {
  justify-content: flex-start;
  text-align: left;
}

/*__WOD5E_ORDER_00662__*/
.wod5e .flex-group-right {
  justify-content: flex-end;
  text-align: right;
}

/*__WOD5E_ORDER_00663__*/
.wod5e .flex-center {
  align-items: center;
  justify-content: center;
  text-align: center;
}

/*__WOD5E_ORDER_00664__*/
.wod5e .flex-left {
  align-items: left;
  justify-content: left;
  text-align: left;
}

/*__WOD5E_ORDER_00665__*/
.wod5e .flex-between {
  justify-content: space-between;
}

/*__WOD5E_ORDER_00666__*/
.wod5e .nowrap {
  flex-wrap: nowrap;
  text-wrap: nowrap;
}

/*__WOD5E_ORDER_00667__*/
.wod5e .nogrow {
  flex-grow: 0;
}

/*__WOD5E_ORDER_00668__*/
.wod5e .flexend {
  align-self: flex-end;
}
