/*__WOD5E_ORDER_00775__*/
.spc.sheet .stat-resource-background {
  padding: 5px 15px 5px;
}

/*__WOD5E_ORDER_00776__*/
.spc.sheet .spc-stats-body {
  align-items: flex-start;
}

/*__WOD5E_ORDER_00777__*/
.spc.sheet .spc-stats-body .field-header {
  font-size: 16pt;
}

/*__WOD5E_ORDER_00778__*/
.spc.sheet .standard-pools-list,
.spc.sheet .exceptional-pools-list,
.spc.sheet .description-field {
  margin-bottom: 10px;
}

/*__WOD5E_ORDER_00779__*/
.spc.sheet .general-difficulty {
  width: -webkit-fill-available;
  height: fit-content;
  padding-bottom: 5px;
}

/*__WOD5E_ORDER_00780__*/
.spc.sheet .general-difficulty .flexcol {
  height: fit-content;
}

/*__WOD5E_ORDER_00781__*/
.spc.sheet .general-difficulty .flexcol > * {
  flex: 0 0 auto !important;
}

/*__WOD5E_ORDER_00782__*/
.spc.sheet .field-section {
  height: fit-content;
}

/*__WOD5E_ORDER_00783__*/
.spc.sheet .field-section.flexcol > * {
  flex: 0 0 auto !important;
}

/*__WOD5E_ORDER_00784__*/
.spc.sheet .exceptional-pools-list {
  display: flex;
  flex-direction: row;
  text-align: center;
  text-align: -webkit-center;
  flex-flow: wrap;
}

/*__WOD5E_ORDER_00785__*/
.spc.sheet .exceptional-pools-list .spc-item-header {
  font-weight: bold;
}

/*__WOD5E_ORDER_00786__*/
.spc.sheet .exceptional-pools-list .exceptional-pool:not(.locked) {
  flex-grow: 0;
  margin-left: auto;
  margin-right: auto;
}

/*__WOD5E_ORDER_00787__*/
.spc.sheet .exceptional-pools-list .exceptional-pool:not(.locked) .resource-label {
  place-content: center;
  text-wrap: nowrap;
}

/*__WOD5E_ORDER_00788__*/
.spc.sheet .item {
  margin: 2px 0 2px 0;
}

/*__WOD5E_ORDER_00789__*/
.spc.sheet .item-controls {
  display: flex;
  flex-grow: 0;
  text-align: right;
}

/*__WOD5E_ORDER_00790__*/
.spc.sheet .item-controls .search-data-item {
  position: unset;
}

/*__WOD5E_ORDER_00791__*/
.spc.sheet .power-category {
  padding: 3px;
}

/*__WOD5E_ORDER_00792__*/
.spc.sheet .power-category .power-category-header {
  border-bottom: 1px solid #CCC;
  margin-bottom: 5px;
  padding-bottom: 2px;
}

/*__WOD5E_ORDER_00793__*/
.spc.sheet .power-category .power-category-header .resource {
  max-width: 15px;
}

/*__WOD5E_ORDER_00794__*/
.spc.sheet .power-category .power-category-header .power-category-label {
  font-size: 13pt;
  margin-left: 10px;
}

/*__WOD5E_ORDER_00795__*/
.spc.sheet .list-resource {
  display: flex;
  flex-direction: column;
}

/*__WOD5E_ORDER_00796__*/
.spc.sheet .list-resource .item-name {
  display: flex;
  margin-left: 10px;
  flex-grow: 1;
}

/*__WOD5E_ORDER_00797__*/
.spc.sheet .wereform {
  margin-left: auto;
  margin-right: auto;
}

/*__WOD5E_ORDER_00798__*/
.spc.sheet .wereform img.wereform-icon {
  cursor: pointer;
  border: 1px solid;
}

/*__WOD5E_ORDER_00799__*/
.spc.sheet .wereform .swap-form {
  margin-left: 5px;
}

/*__WOD5E_ORDER_00800__*/
.locked .exceptional-pools-list {
  place-content: center;
}

/*__WOD5E_ORDER_00801__*/
.locked .exceptional-pools-list a:not(:last-child)::after {
  content: ", ";
  white-space: pre;
}
