/*__WOD5E_ORDER_00991__*/
:root {
  --hunter-theme-filter: #D18125;
}

/*__WOD5E_ORDER_00992__*/
.wod-hunter-theme .sheet .window-content {
  background: var(--actor-background-default) repeat;
}

/*__WOD5E_ORDER_00993__*/
.wod-hunter-theme .app,
.wod-hunter-theme .application.dialog,
.wod-hunter-theme #sidebar,
.wod-hunter-theme #controls ol.control-tools > li,
.wod-hunter-theme #navigation #scene-list .scene,
.wod-hunter-theme #navigation #scene-list .scene.view,
.wod-hunter-theme #navigation #scene-list .scene.context,
.wod-hunter-theme #navigation #scene-list .scene.gm,
.wod-hunter-theme #navigation .nav-item,
.wod-hunter-theme #navigation #nav-toggle,
.wod-hunter-theme #hotbar .bar-controls {
  background-color: var(--hunter-theme-filter);
  background-blend-mode: difference;
}

/*__WOD5E_ORDER_00994__*/
.wod-hunter-theme #hotbar .macro {
  background: var(--hunter-theme-filter);
}

/*__WOD5E_ORDER_00995__*/
.wod-hunter-theme .sheet .window-header,
.wod-hunter-theme .dialog .window-header {
  background-color: var(--hunter-color-1);
}

/*__WOD5E_ORDER_00996__*/
.wod-hunter-theme .chat-message button,
.wod-hunter-theme .directory .action-buttons button,
.wod-hunter-theme .compendium-sidebar .wod5e-compendium-search {
  background: #020202;
  color: var(--system-color-6);
}
