/*__WOD5E_ORDER_00586__*/
.theme-dark .actor.sheet .loom-window-body,
.wod-vampire-theme .actor.sheet .loom-window-body {
  background: var(--actor-background-dark) repeat;
  color: var(--system-dark-color-4);
}

/*__WOD5E_ORDER_00998__*/
:root {
  --vampire-theme-filter: #FF2B2B80;
}

/*__WOD5E_ORDER_00999__*/
.wod-vampire-theme .sheet .window-content {
  background: var(--actor-background-dark) repeat;
}

/*__WOD5E_ORDER_01000__*/
.wod-vampire-theme .macro-sheet .window-content textarea {
  color: var(--system-dark-color-4);
}

/*__WOD5E_ORDER_01001__*/
.wod-vampire-theme .content-link {
  color: var(--system-dark-color-1);
  background-color: #FFF;
}

/*__WOD5E_ORDER_01002__*/
.wod-vampire-theme .app,
.wod-vampire-theme .application.dialog,
.wod-vampire-theme #sidebar,
.wod-vampire-theme #controls ol.control-tools > li,
.wod-vampire-theme #navigation #scene-list .scene,
.wod-vampire-theme #navigation #scene-list .scene.view,
.wod-vampire-theme #navigation #scene-list .scene.context,
.wod-vampire-theme #navigation #scene-list .scene.gm,
.wod-vampire-theme #navigation .nav-item,
.wod-vampire-theme #navigation #nav-toggle,
.wod-vampire-theme #hotbar .bar-controls {
  background-color: var(--vampire-theme-filter);
  background-blend-mode: difference;
}

/*__WOD5E_ORDER_01003__*/
.wod-vampire-theme #hotbar .macro {
  background: var(--vampire-theme-filter);
}

/*__WOD5E_ORDER_01004__*/
.wod-vampire-theme .standard-form .form-group > label,
.wod-vampire-theme .standard-form .form-group:hover > label {
  color: var(--system-dark-color-4);
}

/*__WOD5E_ORDER_01005__*/
.wod-vampire-theme .standard-form .form-group .hint,
.wod-vampire-theme .standard-form .form-group:hover .hint {
  color: var(--system-dark-color-8);
}

/*__WOD5E_ORDER_01006__*/
.wod-vampire-theme .standard-form .sheet-tabs {
  color: var(--system-dark-color-4);
}

/*__WOD5E_ORDER_01007__*/
.wod-vampire-theme .standard-form input[type=range] {
  --range-thumb-background-color: var(--system-dark-color-4);
  --range-thumb-border-color: var(--system-dark-color-1);
}

/*__WOD5E_ORDER_01008__*/
.wod-vampire-theme .sheet .window-header,
.wod-vampire-theme .dialog .window-header {
  background-color: var(--system-dark-color-1);
}

/*__WOD5E_ORDER_01009__*/
.wod-vampire-theme .sheet .journal-entry-content,
.wod-vampire-theme .dialog .journal-entry-content,
.wod-vampire-theme .sheet .window-content,
.wod-vampire-theme .dialog .window-content {
  color: var(--system-dark-color-4);
}

/*__WOD5E_ORDER_01010__*/
.wod-vampire-theme .sheet .journal-entry-content input,
.wod-vampire-theme .dialog .journal-entry-content input,
.wod-vampire-theme .sheet .window-content input,
.wod-vampire-theme .dialog .window-content input,
.wod-vampire-theme .sheet .journal-entry-content .actor-header,
.wod-vampire-theme .dialog .journal-entry-content .actor-header,
.wod-vampire-theme .sheet .window-content .actor-header,
.wod-vampire-theme .dialog .window-content .actor-header,
.wod-vampire-theme .sheet .journal-entry-content .tab,
.wod-vampire-theme .dialog .journal-entry-content .tab,
.wod-vampire-theme .sheet .window-content .tab,
.wod-vampire-theme .dialog .window-content .tab {
  color: #ffffff;
  --input-text-color: #ffffff;
}

/*__WOD5E_ORDER_01011__*/
.wod-vampire-theme .sheet select,
.wod-vampire-theme .dialog select,
.wod-vampire-theme .sheet input,
.wod-vampire-theme .dialog input {
  color: var(--system-dark-color-4);
  background-color: var(--system-dark-color-2);
  border-color: var(--system-dark-color-4);
}

/*__WOD5E_ORDER_01012__*/
.wod-vampire-theme .sheet select,
.wod-vampire-theme .dialog select,
.wod-vampire-theme .sheet select optgroup,
.wod-vampire-theme .dialog select optgroup {
  background-color: var(--system-dark-color-2);
}

/*__WOD5E_ORDER_01013__*/
.wod-vampire-theme .sheet select option,
.wod-vampire-theme .dialog select option {
  background-color: var(--system-dark-color-3);
}

/*__WOD5E_ORDER_01014__*/
.wod-vampire-theme .sheet button,
.wod-vampire-theme .dialog button {
  background-color: var(--system-dark-color-3);
  color: var(--system-color-6);
}

/*__WOD5E_ORDER_01015__*/
.wod-vampire-theme .sheet button.default,
.wod-vampire-theme .dialog button.default,
.wod-vampire-theme .sheet button:hover,
.wod-vampire-theme .dialog button:hover {
  background-color: var(--system-dark-color-2);
}

/*__WOD5E_ORDER_01016__*/
.wod-vampire-theme .sheet ::placeholder,
.wod-vampire-theme .dialog ::placeholder {
  color: var(--system-dark-color-5);
}

/*__WOD5E_ORDER_01017__*/
.wod-vampire-theme .sheet form .notes,
.wod-vampire-theme .dialog form .notes,
.wod-vampire-theme .sheet form .hint,
.wod-vampire-theme .dialog form .hint {
  color: var(--system-dark-color-4);
}

/*__WOD5E_ORDER_01018__*/
.wod-vampire-theme .situational-modifiers {
  background-color: #000000 !important;
  border-color: var(--system-dark-color-4);
}

/*__WOD5E_ORDER_01019__*/
.wod-vampire-theme .actor.sheet .item-list .item,
.wod-vampire-theme .actor.sheet .resource,
.wod-vampire-theme .actor.sheet prose-mirror .editor-content,
.wod-vampire-theme .actor.sheet .actor-header input,
.wod-vampire-theme .actor.sheet .actor-header .resource,
.wod-vampire-theme .actor.sheet .stats-container,
.wod-vampire-theme .actor.sheet .stats-container .stats-footer {
  background-color: var(--system-dark-color-2);
  border-color: var(--system-dark-color-4);
}

/*__WOD5E_ORDER_01020__*/
.wod-vampire-theme .actor.sheet .collapsible-content {
  color: var(--system-dark-color-4);
  background: var(--system-dark-color-2);
}

/*__WOD5E_ORDER_01021__*/
.wod-vampire-theme .actor.sheet .toggle-limited {
  color: var(--system-dark-color-4);
}

/*__WOD5E_ORDER_01022__*/
.wod-vampire-theme .actor.sheet .toggle-limited:not(.visible) {
  color: var(--system-dark-color-8);
}

/*__WOD5E_ORDER_01023__*/
.wod-vampire-theme .actor.sheet .sheet-tabs .navicon,
.wod-vampire-theme .actor.sheet .sheet-tabs .lock-btn {
  color: var(--system-dark-color-4);
}

/*__WOD5E_ORDER_01024__*/
.wod-vampire-theme .actor.sheet .sheet-tabs .lock-btn,
.wod-vampire-theme .actor.sheet .sheet-tabs > [data-tab] .navicon {
  background-color: var(--system-dark-color-1);
  border: 1px solid var(--system-dark-color-4);
}

/*__WOD5E_ORDER_01025__*/
.wod-vampire-theme .actor.sheet .lock-btn:hover {
  color: #ffffff;
}

/*__WOD5E_ORDER_01026__*/
.wod-vampire-theme .actor.sheet .sheet-tabs > [data-tab].active .navicon {
  background: var(--system-dark-color-7);
  border: 1px solid var(--system-dark-color-1);
}

/*__WOD5E_ORDER_01027__*/
.wod-vampire-theme .actor.sheet .resource-value .resource-value-step:not(.active) {
  background-color: var(--system-dark-color-3);
}

/*__WOD5E_ORDER_01028__*/
.wod-vampire-theme .actor.sheet .resource-value .resource-value-empty {
  border: 1px solid var(--system-dark-color-3);
  background: linear-gradient(45deg, transparent 0%, transparent 43%, #a5a5a5 45%, #a5a5a5 55%, transparent 57%, transparent 100%), linear-gradient(135deg, transparent 0%, transparent 43%, #a5a5a5 45%, #a5a5a5 55%, transparent 57%, transparent 100%);
}

/*__WOD5E_ORDER_01029__*/
.wod-vampire-theme .actor.sheet .resource-counter .resource-counter-step {
  border: 1px solid var(--system-dark-color-4);
}

/*__WOD5E_ORDER_01030__*/
.wod-vampire-theme .actor.sheet .resource-counter .resource-counter-step[data-state="/"] {
  background: linear-gradient(135deg, transparent 0%, transparent 43%, var(--system-dark-color-4) 45%, var(--system-dark-color-4) 55%, transparent 57%, transparent 100%);
}

/*__WOD5E_ORDER_01031__*/
.wod-vampire-theme .actor.sheet .resource-counter .resource-counter-step[data-state="x"] {
  background: linear-gradient(45deg, transparent 0%, transparent 43%, var(--system-dark-color-4) 45%, var(--system-dark-color-4) 55%, transparent 57%, transparent 100%), linear-gradient(135deg, transparent 0%, transparent 43%, var(--system-dark-color-4) 45%, var(--system-dark-color-4) 55%, transparent 57%, transparent 100%);
}

/*__WOD5E_ORDER_01032__*/
.wod-vampire-theme .actor.sheet .item-list .category {
  background-color: var(--system-dark-color-2);
  border-color: var(--system-dark-color-4);
  /* Power Descriptions */
}

/*__WOD5E_ORDER_01033__*/
.wod-vampire-theme .actor.sheet .item-list .category .discipline-description,
.wod-vampire-theme .actor.sheet .item-list .category .edge-description,
.wod-vampire-theme .actor.sheet .item-list .category .gift-description {
  color: var(--system-dark-color-4);
}

/*__WOD5E_ORDER_01034__*/
.wod-vampire-theme .dialog-app .window-content,
.wod-vampire-theme .item.sheet .window-content,
.wod-vampire-theme .dialog .window-content {
  background: var(--system-dark-color-2);
}

/*__WOD5E_ORDER_01035__*/
.wod-vampire-theme .dialog-app input,
.wod-vampire-theme .item.sheet input,
.wod-vampire-theme .dialog input {
  background-color: var(--system-dark-color-2);
  border-color: var(--system-dark-color-4);
}

/*__WOD5E_ORDER_01036__*/
.wod-vampire-theme .actor.sheet.vampire .tabs-container .active.item[data-tab="blood"],
.wod-vampire-theme .actor.sheet.vampire .tabs-container .active .navicon .wod5e-symbol {
  color: var(--system-dark-color-4);
}

/*__WOD5E_ORDER_01037__*/
.wod-vampire-theme .sheet.werewolf .resource-value .resource-value-step.active,
.wod-vampire-theme .sheet.werewolf .resource-value-static .resource-value-static-step.active,
.wod-vampire-theme .sheet.werewolf .resource-counter .resource-counter-step[data-state="-"] {
  background-color: var(--werewolf-color-3);
}

/*__WOD5E_ORDER_01038__*/
.wod-vampire-theme .sheet.werewolf button.rage-button:hover {
  background-color: #752e11ea;
}

/*__WOD5E_ORDER_01039__*/
.wod-vampire-theme .actor.sheet.werewolf .tabs-container .active.item .navicon {
  background-color: #752e11ea;
}

/*__WOD5E_ORDER_01040__*/
.wod-vampire-theme .actor.sheet.werewolf .tabs-container .active.item[data-tab="wolf"],
.wod-vampire-theme .actor.sheet.werewolf .tabs-container .active .navicon .wod5e-symbol {
  color: var(--system-dark-color-4);
}

/*__WOD5E_ORDER_01041__*/
.wod-vampire-theme .actor.sheet.werewolf .tabs-container .navicon .wod5e-symbol,
.wod-vampire-theme .actor.sheet.werewolf .tabs-container .item[data-tab="wolf"] {
  color: var(--werewolf-color-3);
}

/*__WOD5E_ORDER_01042__*/
.wod-vampire-theme .actor.sheet.werewolf .tab[data-tab="wolf"] .resource input,
.wod-vampire-theme .actor.sheet.werewolf .tab[data-tab="wolf"] .resource.form {
  background-color: var(--system-dark-color-2);
  border-color: var(--system-dark-color-4);
}

/*__WOD5E_ORDER_01043__*/
.wod-vampire-theme .actor.sheet.werewolf .tab[data-tab="wolf"] .resource.form.form-active {
  background-color: #833501e0;
}

/*__WOD5E_ORDER_01044__*/
.wod-vampire-theme .actor.sheet.hunter .tabs-container .active .navicon .wod5e-symbol {
  color: var(--system-dark-color-4);
}

/*__WOD5E_ORDER_01045__*/
.wod-vampire-theme .actor.sheet.hunter .tabs-container .navicon .wod5e-symbol {
  color: var(--hunter-color-3);
}

/*__WOD5E_ORDER_01046__*/
.wod-vampire-theme prose-mirror button.icon.toggle {
  color: var(--system-dark-color-4);
  background-color: var(--system-dark-color-1);
}

/*__WOD5E_ORDER_01047__*/
.wod-vampire-theme .journal-entry .directory input[type="search"] {
  background: transparent;
}

/*__WOD5E_ORDER_01048__*/
.wod-vampire-theme .app.journal-entry .journal-entry-content {
  background-color: #121212;
  background-blend-mode: color;
}

/*__WOD5E_ORDER_01049__*/
.wod-vampire-theme #controls ol.control-tools .has-notes::after {
  color: var(--system-dark-color-1);
}

/*__WOD5E_ORDER_01050__*/
.wod-vampire-theme #hotbar .macro {
  background: var(--vampire-theme-filter);
}
