/*__WOD5E_ORDER_01052__*/
:root {
  --werewolf-theme-filter: #BE660080;
}

/*__WOD5E_ORDER_01053__*/
.wod-werewolf-theme .sheet .window-content {
  background: var(--actor-background-dark) repeat;
}

/*__WOD5E_ORDER_01054__*/
.wod-werewolf-theme .macro-sheet .window-content textarea {
  color: var(--system-dark-color-4);
}

/*__WOD5E_ORDER_01055__*/
.wod-werewolf-theme .content-link {
  color: var(--system-dark-color-1);
  background-color: #FFF;
}

/*__WOD5E_ORDER_01056__*/
.wod-werewolf-theme .app,
.wod-werewolf-theme .application.dialog,
.wod-werewolf-theme #sidebar,
.wod-werewolf-theme #controls ol.control-tools > li,
.wod-werewolf-theme #navigation #scene-list .scene,
.wod-werewolf-theme #navigation #scene-list .scene.view,
.wod-werewolf-theme #navigation #scene-list .scene.context,
.wod-werewolf-theme #navigation #scene-list .scene.gm,
.wod-werewolf-theme #navigation .nav-item,
.wod-werewolf-theme #navigation #nav-toggle,
.wod-werewolf-theme #hotbar .bar-controls {
  background-color: var(--werewolf-theme-filter);
  background-blend-mode: color-dodge;
}

/*__WOD5E_ORDER_01057__*/
.wod-werewolf-theme #hotbar .macro {
  background: var(--werewolf-theme-filter);
}

/*__WOD5E_ORDER_01058__*/
.wod-werewolf-theme .standard-form .form-group > label,
.wod-werewolf-theme .standard-form .form-group:hover > label {
  color: var(--system-dark-color-4);
}

/*__WOD5E_ORDER_01059__*/
.wod-werewolf-theme .standard-form .form-group .hint,
.wod-werewolf-theme .standard-form .form-group:hover .hint {
  color: var(--system-dark-color-8);
}

/*__WOD5E_ORDER_01060__*/
.wod-werewolf-theme .standard-form .sheet-tabs {
  color: var(--system-dark-color-4);
}

/*__WOD5E_ORDER_01061__*/
.wod-werewolf-theme .standard-form input[type=range] {
  --range-thumb-background-color: var(--system-dark-color-4);
  --range-thumb-border-color: var(--system-dark-color-1);
}

/*__WOD5E_ORDER_01062__*/
.wod-werewolf-theme .sheet .window-header,
.wod-werewolf-theme .dialog .window-header {
  background-color: var(--system-dark-color-1);
}

/*__WOD5E_ORDER_01063__*/
.wod-werewolf-theme .sheet .journal-entry-content,
.wod-werewolf-theme .dialog .journal-entry-content,
.wod-werewolf-theme .sheet .window-content,
.wod-werewolf-theme .dialog .window-content {
  color: var(--system-dark-color-4);
}

/*__WOD5E_ORDER_01064__*/
.wod-werewolf-theme .sheet .journal-entry-content input,
.wod-werewolf-theme .dialog .journal-entry-content input,
.wod-werewolf-theme .sheet .window-content input,
.wod-werewolf-theme .dialog .window-content input,
.wod-werewolf-theme .sheet .journal-entry-content .actor-header,
.wod-werewolf-theme .dialog .journal-entry-content .actor-header,
.wod-werewolf-theme .sheet .window-content .actor-header,
.wod-werewolf-theme .dialog .window-content .actor-header,
.wod-werewolf-theme .sheet .journal-entry-content .tab,
.wod-werewolf-theme .dialog .journal-entry-content .tab,
.wod-werewolf-theme .sheet .window-content .tab,
.wod-werewolf-theme .dialog .window-content .tab {
  color: #ffffff;
  --input-text-color: #ffffff;
}

/*__WOD5E_ORDER_01065__*/
.wod-werewolf-theme .sheet select,
.wod-werewolf-theme .dialog select,
.wod-werewolf-theme .sheet input,
.wod-werewolf-theme .dialog input {
  color: var(--system-dark-color-4);
  background-color: var(--system-dark-color-2);
  border-color: var(--system-dark-color-4);
}

/*__WOD5E_ORDER_01066__*/
.wod-werewolf-theme .sheet select,
.wod-werewolf-theme .dialog select,
.wod-werewolf-theme .sheet select optgroup,
.wod-werewolf-theme .dialog select optgroup {
  background-color: var(--system-dark-color-2);
}

/*__WOD5E_ORDER_01067__*/
.wod-werewolf-theme .sheet select option,
.wod-werewolf-theme .dialog select option {
  background-color: var(--system-dark-color-3);
}

/*__WOD5E_ORDER_01068__*/
.wod-werewolf-theme .sheet button,
.wod-werewolf-theme .dialog button {
  background-color: var(--system-dark-color-3);
  color: var(--system-color-6);
}

/*__WOD5E_ORDER_01069__*/
.wod-werewolf-theme .sheet button.default,
.wod-werewolf-theme .dialog button.default,
.wod-werewolf-theme .sheet button:hover,
.wod-werewolf-theme .dialog button:hover {
  background-color: var(--system-dark-color-2);
}

/*__WOD5E_ORDER_01070__*/
.wod-werewolf-theme .sheet ::placeholder,
.wod-werewolf-theme .dialog ::placeholder {
  color: var(--system-dark-color-5);
}

/*__WOD5E_ORDER_01071__*/
.wod-werewolf-theme .sheet form .notes,
.wod-werewolf-theme .dialog form .notes,
.wod-werewolf-theme .sheet form .hint,
.wod-werewolf-theme .dialog form .hint {
  color: var(--system-dark-color-4);
}

/*__WOD5E_ORDER_01072__*/
.wod-werewolf-theme .situational-modifiers {
  background-color: #000000 !important;
  border-color: var(--system-dark-color-4);
}

/*__WOD5E_ORDER_01073__*/
.wod-werewolf-theme .actor.sheet .item-list .item,
.wod-werewolf-theme .actor.sheet .resource,
.wod-werewolf-theme .actor.sheet prose-mirror .editor-content,
.wod-werewolf-theme .actor.sheet .actor-header input,
.wod-werewolf-theme .actor.sheet .actor-header .resource,
.wod-werewolf-theme .actor.sheet .stats-container,
.wod-werewolf-theme .actor.sheet .stats-container .stats-footer {
  background-color: var(--system-dark-color-2);
  border-color: var(--system-dark-color-4);
}

/*__WOD5E_ORDER_01074__*/
.wod-werewolf-theme .actor.sheet .collapsible-content {
  color: var(--system-dark-color-4);
  background: var(--system-dark-color-2);
}

/*__WOD5E_ORDER_01075__*/
.wod-werewolf-theme .actor.sheet .toggle-limited {
  color: var(--system-dark-color-4);
}

/*__WOD5E_ORDER_01076__*/
.wod-werewolf-theme .actor.sheet .toggle-limited:not(.visible) {
  color: var(--system-dark-color-8);
}

/*__WOD5E_ORDER_01077__*/
.wod-werewolf-theme .actor.sheet .sheet-tabs .navicon,
.wod-werewolf-theme .actor.sheet .sheet-tabs .lock-btn {
  color: var(--system-dark-color-4);
}

/*__WOD5E_ORDER_01078__*/
.wod-werewolf-theme .actor.sheet .sheet-tabs .lock-btn,
.wod-werewolf-theme .actor.sheet .sheet-tabs > [data-tab] .navicon {
  background-color: var(--system-dark-color-1);
  border: 1px solid var(--system-dark-color-4);
}

/*__WOD5E_ORDER_01079__*/
.wod-werewolf-theme .actor.sheet .lock-btn:hover {
  color: #ffffff;
}

/*__WOD5E_ORDER_01080__*/
.wod-werewolf-theme .actor.sheet .sheet-tabs > [data-tab].active .navicon {
  background: var(--system-dark-color-7);
  border: 1px solid var(--system-dark-color-1);
}

/*__WOD5E_ORDER_01081__*/
.wod-werewolf-theme .actor.sheet .resource-value .resource-value-step:not(.active) {
  background-color: var(--system-dark-color-3);
}

/*__WOD5E_ORDER_01082__*/
.wod-werewolf-theme .actor.sheet .resource-value .resource-value-empty {
  border: 1px solid var(--system-dark-color-3);
  background: linear-gradient(45deg, transparent 0%, transparent 43%, #a5a5a5 45%, #a5a5a5 55%, transparent 57%, transparent 100%), linear-gradient(135deg, transparent 0%, transparent 43%, #a5a5a5 45%, #a5a5a5 55%, transparent 57%, transparent 100%);
}

/*__WOD5E_ORDER_01083__*/
.wod-werewolf-theme .actor.sheet .resource-counter .resource-counter-step {
  border: 1px solid var(--system-dark-color-4);
}

/*__WOD5E_ORDER_01084__*/
.wod-werewolf-theme .actor.sheet .resource-counter .resource-counter-step[data-state="/"] {
  background: linear-gradient(135deg, transparent 0%, transparent 43%, var(--system-dark-color-4) 45%, var(--system-dark-color-4) 55%, transparent 57%, transparent 100%);
}

/*__WOD5E_ORDER_01085__*/
.wod-werewolf-theme .actor.sheet .resource-counter .resource-counter-step[data-state="x"] {
  background: linear-gradient(45deg, transparent 0%, transparent 43%, var(--system-dark-color-4) 45%, var(--system-dark-color-4) 55%, transparent 57%, transparent 100%), linear-gradient(135deg, transparent 0%, transparent 43%, var(--system-dark-color-4) 45%, var(--system-dark-color-4) 55%, transparent 57%, transparent 100%);
}

/*__WOD5E_ORDER_01086__*/
.wod-werewolf-theme .actor.sheet .item-list .category {
  background-color: var(--system-dark-color-2);
  border-color: var(--system-dark-color-4);
  /* Power Descriptions */
}

/*__WOD5E_ORDER_01087__*/
.wod-werewolf-theme .actor.sheet .item-list .category .discipline-description,
.wod-werewolf-theme .actor.sheet .item-list .category .edge-description,
.wod-werewolf-theme .actor.sheet .item-list .category .gift-description {
  color: var(--system-dark-color-4);
}

/*__WOD5E_ORDER_01088__*/
.wod-werewolf-theme .dialog-app .window-content,
.wod-werewolf-theme .item.sheet .window-content,
.wod-werewolf-theme .dialog .window-content {
  background: var(--system-dark-color-2);
}

/*__WOD5E_ORDER_01089__*/
.wod-werewolf-theme .dialog-app input,
.wod-werewolf-theme .item.sheet input,
.wod-werewolf-theme .dialog input {
  background-color: var(--system-dark-color-2);
  border-color: var(--system-dark-color-4);
}

/*__WOD5E_ORDER_01090__*/
.wod-werewolf-theme .actor.sheet.vampire .tabs-container .active.item[data-tab="blood"],
.wod-werewolf-theme .actor.sheet.vampire .tabs-container .active .navicon .wod5e-symbol {
  color: var(--system-dark-color-4);
}

/*__WOD5E_ORDER_01091__*/
.wod-werewolf-theme .sheet.werewolf .resource-value .resource-value-step.active,
.wod-werewolf-theme .sheet.werewolf .resource-value-static .resource-value-static-step.active,
.wod-werewolf-theme .sheet.werewolf .resource-counter .resource-counter-step[data-state="-"] {
  background-color: var(--werewolf-color-3);
}

/*__WOD5E_ORDER_01092__*/
.wod-werewolf-theme .sheet.werewolf button.rage-button:hover {
  background-color: #752e11ea;
}

/*__WOD5E_ORDER_01093__*/
.wod-werewolf-theme .actor.sheet.werewolf .tabs-container .active.item .navicon {
  background-color: #752e11ea;
}

/*__WOD5E_ORDER_01094__*/
.wod-werewolf-theme .actor.sheet.werewolf .tabs-container .active.item[data-tab="wolf"],
.wod-werewolf-theme .actor.sheet.werewolf .tabs-container .active .navicon .wod5e-symbol {
  color: var(--system-dark-color-4);
}

/*__WOD5E_ORDER_01095__*/
.wod-werewolf-theme .actor.sheet.werewolf .tabs-container .navicon .wod5e-symbol,
.wod-werewolf-theme .actor.sheet.werewolf .tabs-container .item[data-tab="wolf"] {
  color: var(--werewolf-color-3);
}

/*__WOD5E_ORDER_01096__*/
.wod-werewolf-theme .actor.sheet.werewolf .tab[data-tab="wolf"] .resource input,
.wod-werewolf-theme .actor.sheet.werewolf .tab[data-tab="wolf"] .resource.form {
  background-color: var(--system-dark-color-2);
  border-color: var(--system-dark-color-4);
}

/*__WOD5E_ORDER_01097__*/
.wod-werewolf-theme .actor.sheet.werewolf .tab[data-tab="wolf"] .resource.form.form-active {
  background-color: #833501e0;
}

/*__WOD5E_ORDER_01098__*/
.wod-werewolf-theme .actor.sheet.hunter .tabs-container .active .navicon .wod5e-symbol {
  color: var(--system-dark-color-4);
}

/*__WOD5E_ORDER_01099__*/
.wod-werewolf-theme .actor.sheet.hunter .tabs-container .navicon .wod5e-symbol {
  color: var(--hunter-color-3);
}

/*__WOD5E_ORDER_01100__*/
.wod-werewolf-theme prose-mirror button.icon.toggle {
  color: var(--system-dark-color-4);
  background-color: var(--system-dark-color-1);
}

/*__WOD5E_ORDER_01101__*/
.wod-werewolf-theme .journal-entry .directory input[type="search"] {
  background: transparent;
}

/*__WOD5E_ORDER_01102__*/
.wod-werewolf-theme .app.journal-entry .journal-entry-content {
  background-color: #121212;
  background-blend-mode: color;
}

/*__WOD5E_ORDER_01103__*/
.wod-werewolf-theme #controls ol.control-tools .has-notes::after {
  color: var(--system-dark-color-1);
}
