/*__WOD5E_ORDER_00000__*/
:root {
  --hunter-color-1: #cc6d28;
  --hunter-color-2: #ffb762;
  --hunter-color-3: #ff8f00;
  --cell-group-header: rgba(204, 109, 40, 0.8);
}

/*__WOD5E_ORDER_00036__*/
:root {
  --mortal-color-1: #302d5bf0;
  --mortal-color-2: #706ca5f0;
  --mortal-color-3: #fff;
  --mortal-color-4: #2b2b2b;
}

/*__WOD5E_ORDER_00038__*/
.wod5e-symbol.mortal {
  color: var(--mortal-color-1);
}

/*__WOD5E_ORDER_00040__*/
.sheet.mortal {
  box-shadow: 0 0 10px var(--mortal-color-1);
  /* Resource counters */
}

/*__WOD5E_ORDER_00041__*/
.sheet.mortal .window-header {
  background: var(--mortal-color-1);
}

/*__WOD5E_ORDER_00042__*/
.sheet.mortal .window-content {
  scrollbar-color: var(--mortal-color-2) var(--mortal-color-1);
}

/*__WOD5E_ORDER_00043__*/
.sheet.mortal .resource-value .resource-value-step.active,
.sheet.mortal .resource-value-static .resource-value-static-step.active,
.sheet.mortal .resource-counter .resource-counter-step[data-state="-"] {
  background-color: var(--mortal-color-1);
}

/*__WOD5E_ORDER_00045__*/
.mortal.dialog.window-app,
.mortal.dialog.application {
  border: 4px solid var(--mortal-color-1);
}

/*__WOD5E_ORDER_00046__*/
.mortal.dialog.window-app .window-header,
.mortal.dialog.application .window-header {
  background: var(--mortal-color-1);
  border-bottom: 4px double var(--mortal-color-3);
}

/*__WOD5E_ORDER_00047__*/
.mortal.dialog.window-app .window-content section .tab > .resource-label,
.mortal.dialog.application .window-content section .tab > .resource-label,
.mortal.dialog.window-app .items-list .item-header,
.mortal.dialog.application .items-list .item-header,
.mortal.dialog.window-app .items-list .spc-item-header,
.mortal.dialog.application .items-list .spc-item-header,
.mortal.dialog.window-app .spc-pool-header,
.mortal.dialog.application .spc-pool-header,
.mortal.dialog.window-app .actor-header .profile-img-zone h1,
.mortal.dialog.application .actor-header .profile-img-zone h1 {
  color: var(--mortal-color-1);
  border-color: var(--mortal-color-1);
}

/*__WOD5E_ORDER_00048__*/
.mortal.dialog.window-app .dialog-content .dice-group-header,
.mortal.dialog.application .dialog-content .dice-group-header {
  background-color: var(--mortal-color-1);
}

/*__WOD5E_ORDER_00049__*/
.mortal.dialog.window-app input,
.mortal.dialog.application input,
.mortal.dialog.window-app select,
.mortal.dialog.application select {
  border: 1px solid var(--mortal-color-1);
}

/*__WOD5E_ORDER_00050__*/
.mortal.dialog.window-app .base-dice-group,
.mortal.dialog.application .base-dice-group {
  border: 1px solid var(--mortal-color-2);
}

/*__WOD5E_ORDER_00052__*/
.actor.sheet.mortal .actor-header {
  border-bottom: 2px solid var(--mortal-color-1);
}

/*__WOD5E_ORDER_00053__*/
.actor.sheet.mortal .profile-img,
.actor.sheet.mortal .actor-header input,
.actor.sheet.mortal .actor-header .resource {
  border: 1px solid var(--mortal-color-1);
}

/*__WOD5E_ORDER_00054__*/
.actor.sheet.mortal .sheet-banner {
  background-color: var(--mortal-color-1);
  color: var(--mortal-color-3);
}

/*__WOD5E_ORDER_00055__*/
.actor.sheet.mortal .tabs-container {
  background-color: var(--mortal-color-2);
}

/*__WOD5E_ORDER_00056__*/
.actor.sheet.mortal .tabs-container .active .navicon {
  background-color: var(--mortal-color-1);
  color: var(--system-color-6);
}

/*__WOD5E_ORDER_00057__*/
.actor.sheet.mortal .tabs-container .active .navicon .wod5e-symbol {
  color: var(--system-color-6);
}

/*__WOD5E_ORDER_00058__*/
.actor.sheet.mortal .sheet-banner .sheet-label {
  color: var(--mortal-color-3);
}

/*__WOD5E_ORDER_00059__*/
.actor.sheet.mortal .actor-header input,
.actor.sheet.mortal .actor-header .resource {
  border: 1px solid var(--mortal-color-1);
}

/*__WOD5E_ORDER_00060__*/
.actor.sheet.mortal .item-image img {
  background-color: var(--mortal-color-2);
}

/*__WOD5E_ORDER_00290__*/
:root {
  --vampire-color-1: #650202;
  --vampire-color-2: #d84343;
  --vampire-color-3: #f51f1f;
  --coterie-group-header: rgba(121, 8, 19, 0.8);
}

/*__WOD5E_ORDER_00348__*/
:root {
  --werewolf-color-1: #4e2100;
  --werewolf-color-2: #994101;
  --werewolf-color-3: var(--werewolf-color-3);
  --pack-group-header: rgba(78, 33, 0, 0.8);
}

/*__WOD5E_ORDER_00425__*/
:root {
  --xp-gain-icon: url("/marketplace/rulesets/wod5e/assets/icons/sheet/exp-gain.webp");
  --xp-spend-icon: url("/marketplace/rulesets/wod5e/assets/icons/sheet/exp-spend.webp");
  --xp-neutral-icon: url("/marketplace/rulesets/wod5e/assets/icons/sheet/exp-neutral.webp");
}
