/*__WOD5E_ORDER_00107__*/
.actors-sidebar .group-item {
  border: none;
  border-top: 0 !important;
  border-bottom: 0 !important;
}

/*__WOD5E_ORDER_00108__*/
.actors-sidebar .group-item > .group-header {
  padding: 6px;
  line-height: 24px;
}

/*__WOD5E_ORDER_00109__*/
.actors-sidebar .group-item > .group-header h3 {
  margin: 0;
  line-height: 24px;
}

/*__WOD5E_ORDER_00110__*/
.actors-sidebar .group-item > .group-header h3 > i {
  margin-right: 10px;
}

/*__WOD5E_ORDER_00111__*/
.actors-sidebar .group-item > .group-header .create-button {
  position: relative;
  flex: 0 0 20px;
  margin-left: 3px;
  text-align: center;
}

/*__WOD5E_ORDER_00112__*/
.actors-sidebar .group-item > .group-header .create-button .fa-plus {
  position: absolute;
  top: -2px;
  right: -2px;
  font-size: 0.5rem;
  padding: 1px;
}

/*__WOD5E_ORDER_00113__*/
.actors-sidebar .group-item > .group-header .create-button.create-folder {
  font-size: 120%;
}

/*__WOD5E_ORDER_00114__*/
.actors-sidebar .group-item.collapsed .subdirectory {
  display: none;
}

/*__WOD5E_ORDER_00115__*/
.actors-sidebar .group-item.collapsed > .group-header h3 {
  text-shadow: none;
}

/*__WOD5E_ORDER_00116__*/
.actors-sidebar .group-item.collapsed > .group-header h3 > i::before {
  content: "\f07b";
}

/*__WOD5E_ORDER_00117__*/
.actors-sidebar .group-item.collapsed > .group-header .create-folder {
  display: none;
}

/*__WOD5E_ORDER_00118__*/
.actors-sidebar .group-item.droptarget > header h3 {
  font-size: 1.2em;
}

/*__WOD5E_ORDER_00119__*/
.actors-sidebar .group-item.droptarget > header h3 i {
  transform: scale(1.2);
}
