/*__WOD5E_ORDER_00279__*/
#sidebar {
  border: 0;
  margin: 0;
  height: 100%;
  border-radius: 0;
}

/*__WOD5E_ORDER_00280__*/
#sidebar-tabs {
  margin: 0;
  padding: 8px 2px;
}

/*__WOD5E_ORDER_00281__*/
#sidebar-tabs > .item {
  border-radius: 0;
}

/*__WOD5E_ORDER_00283__*/
.compendium-sidebar .wod5e-compendium-search {
  margin: 0 8px 0 8px;
}

/*__WOD5E_ORDER_00285__*/
.settings-sidebar h2 {
  margin-bottom: 0;
}

/*__WOD5E_ORDER_00286__*/
.settings-sidebar button {
  margin: 3px 0;
}

/*__WOD5E_ORDER_00287__*/
.settings-sidebar #game-details,
.settings-sidebar #settings-game,
.settings-sidebar #settings-documentation,
.settings-sidebar #settings-access,
.settings-sidebar #license-information {
  margin: 0;
  padding: 10px;
}

/*__WOD5E_ORDER_00288__*/
.settings-sidebar #game-details .system-title,
.settings-sidebar #game-details .system-info {
  flex-grow: 1;
}

/*__WOD5E_ORDER_00289__*/
.settings-sidebar #game-details .external-system-links {
  text-align: right;
}
